doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Create User
    body
        h1 Create New User 
        form(action="/view" name="/view" method="post")
            h3 Name 
            input#name(type="text" placeholder="Name" name="username")
            h3 Age 
            input#age(type="number" name="age")
            h3 Email 
            input#email(type="text" placeholder="email@example.com" name="email")
            div
                input(type="submit", name="submit"  value="create user")